.venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
*.egg-info/
.eggs/
dist/
build/
docs/
learning/
/Users/shinena/dev/issue-zero/main/app/api/routes/chat_history.db
/Users/shinena/dev/issue-zero/main/app/api/routes/postgre.py
/Users/shinena/dev/issue-zero/main/app/api/routes/responses.py
